@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 30px;
font-style: normal;
margin-left: 20px;
}.flaticon-atom6:before {
	content: "\e000";
}
.flaticon-atom7:before {
	content: "\e001";
}
.flaticon-bright4:before {
	content: "\e002";
}
.flaticon-computer32:before {
	content: "\e003";
}
.flaticon-excavator3:before {
	content: "\e004";
}
.flaticon-gearwheels:before {
	content: "\e005";
}
.flaticon-snow42:before {
	content: "\e006";
}
.flaticon-snowflake131:before {
	content: "\e007";
}
.flaticon-snowflake144:before {
	content: "\e008";
}
.flaticon-snowflakes12:before {
	content: "\e009";
}
.flaticon-toolbox3:before {
	content: "\e00a";
}
.flaticon-wrench44:before {
	content: "\e00b";
}
