// Variables
$lightBlue: #89cff0;
$darkBlue: #105b7e;
$lightGray: #d3d3d3;
$darkGray: #505050;
$colorInfo: #3D96E3;

$sizeSmall: 12px;
$sizeMedium: 24px;
$sizeLarge: 48px;

$curtainMargin: 30px;

@mixin animation($property) {
	-webkit-animation: $property; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: $property; /* Firefox < 16 */
        -ms-animation: $property; /* Internet Explorer */
         -o-animation: $property; /* Opera < 12.1 */
            animation: $property;
}

@mixin keyframes($animation-name) {
	@keyframes #{$animation-name} {
	    @content;
	}

	/* Firefox < 16 */
	@-moz-keyframes #{$animation-name} {
	    @content;
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes #{$animation-name} {
	    @content;
	}

	/* Internet Explorer */
	@-ms-keyframes #{$animation-name} {
	    @content;
	}

	/* Opera < 12.1 */
	@-o-keyframes #{$animation-name} {
	    @content;
	}
}

@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

body {
	background-color: #FFFCF5;
}

.row-normal {
	margin-bottom: 0px;
	padding: 15px 10px 15px 10px;
}

.label-xsmall {
	font-size: $sizeSmall + 2;
}

.label-small {
	font-size: $sizeSmall + 6;
}

.label-medium {
	font-size: $sizeMedium;
}

.subtitle {
	font-size: $sizeSmall;
	font-color: $lightGray;
}

.row-submit {
	padding: 5px 0px 5px 0px;
}

.check-label {
	margin-left: 15px;
}

.auto-check {
	margin-top: 8px !important;
}

.en-check {
	margin: 10px 0px 0px 5px !important;
}

.schedule-check {
	margin: 8px 0px 0px 2px !important;
}

.no-margin {
	margin: 0 0 0 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.content-shade {
	background: rgba(0, 0, 0, .5);
    color: #ffffff;
}

.btn-stop {
	margin-top: 15px;
}

.btn-xlg {
	padding: 20px 28px;
	font-size: $sizeMedium;
	line-height: 1.5;
	border-radius: 8px;
	width: 80px;
}

.slider {
	margin-top: 15px;
	margin-bottom: 15px;
}

.slider-auto {
	margin-top: 15px;
}

.select-auto {
	margin-top:15px;
}

.curtain-icon, .custom-spacing {
	margin-top: $curtainMargin - 9;
}

.curtain-name {
	margin-top: $curtainMargin;
}

.room-title {
	border-bottom: 1px solid #DDD;
}

.room-button {
	margin-top: 14px;
	margin-right: 5px;
	font-size: $sizeMedium - 3;
}

.center-block {
	width: 250px;
}

.success {
	background-color: #EBFFE3;
	@include animation(fadein 0.3s);
}

@include keyframes(fadein) {
	from { opacity: 0.5; }
	to { opacity: 1; }
}

.rotate-loop {
	@include animation(rotating 2s linear infinite);
}

@include keyframes(rotating) {
	from { 
		transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	}
	to { 
		transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	}
}

.account-heading {
	padding: 0px 0px 0px 10px;
	margin-left: -8px;
	margin-right: -8px;
	font-size: $sizeMedium;
	@include border-radius(5px);
}

.alert-preset {
	margin-left: -15px;
	margin-right: -15px;
}

.panel-separate {
	margin-bottom: 10px;
}

.row-form-name {
	margin-bottom: 15px;
}

#collapseOne > .panel-body, #collapseTwo > .panel-body, #collapseThree > .panel-body {
	padding-top: 0px;
	margin-top: 0px;
}

#collapseOne > .panel-body > .panel-default, #collapseTwo > .panel-body > .panel-default, #collapseThree > .panel-body > .panel-default {
	padding-top: 0px;
	margin-top: 0px;
}

.default-text-shadow {
	text-shadow: 1px 1px 0.1em #505050;
}

.panel-title {
	@extend .default-text-shadow;
	color: #ffffff;
}

.panel-info {
	background-color: $colorInfo;
}

.panel-separate {
	@extend .panel-info;
	color: #ffffff;
}

.new-title {
	@extend .default-text-shadow;
	color: #ffffff;
}

.bg-user {
	color: #ffffff;
	background-color: #EDA59D;
}

.bg-user:hover, .bg-user:active {
	color: #ffffff;
	background-color: #DB968F;
}

.flaticon {
	margin-top: -5px;
}

.flaticon-snow42 {
	margin-right: 2px;
}

.end-icon {
	margin-top: 4px;
}

.rename-light {
	margin-top: 7px;
}

.rename-curtain {
	margin-top: 2px;
}

.rename-ac {
	margin-top: 6px;
}

.rename-room, .badge-spacing {
	margin-top: 18px;
}

.rename-success {
	margin-top: 10px;
}

.btn-ac {
	margin-top: 8px;
}

.name-light, .name-ac {
	padding-top: 5px;
}

.auto-custom-row {
	margin-left: 0px;
}

.alert-small {
	@extend .label-xsmall;
	padding: 8px 8px 8px 8px;
	margin-bottom: 0px !important;
}

.badge-steps {
	background-color: #91B2FF;
	color: #ffffff;
	margin-right: 7px;
	padding: 3px 10px 3px 10px;
	display: inline-block;
	transition-timing-function: cubic-bezier(0,0.7,0.7,1);
	@include border-radius(15px);
	@include animation(animate-badge 0.4s);
}

@include keyframes(animate-badge) {
	0% { transform: scale(0, 0) }
	100% { transform: scale(1, 1) }
}

.shake-class {
	transition-timing-function: linear;
	@include animation(shake-it 0.3s);
}

@include keyframes(shake-it) {
	25% { transform: translateX(30px) }
	75% { transform: translateX(-60px) }
	100% { transform: translateX(30px) }
}

.schedule-readonly {
	// TODO: Decide if color is appropriate.
	background-color: #ffffff !important;
	cursor: pointer !important;
}

.schedule-checkbox {
	margin-left: 5px;
}

.repeat-active {
	color: #3289ED;
	font-weight: 400;
	text-shadow: 0px 0px 4px $lightBlue;
}

.repeat-inactive {
	opacity: 0.1;
	font-weight: 400;
}

.send-preset {
	cursor: pointer;
}

.disabled {
	background-color: $lightGray;
	text-decoration: line-through;
	cursor: not-allowed !important;
}

a.disabled {
	background-color: inherit;
}

// .master-user:disabled {
// 	background-color: $lightGray;
// 	text-decoration: line-through;
// 	cursor: not-allowed !important;
// }

h4.login-popover-title {
	margin-bottom: 0px;
}

#pin {
	width: 100%;
}

#custom-checkbox {
	margin-top: 1px;
}

#alert-enable {
	margin-top: 8px;
}

#login-info {
	text-decoration: underline;
	cursor: help;
}

// For Bootstrap SM screens
@media screen and (max-width: 1024px) {
    .room-button {
		margin-top: 0px;
		margin-right: 5px;
		font-size: $sizeMedium - 3;
	}

	.auto-en-check {
		margin-top: 12px !important;
	}
}

// For Bootstrap XS screens
@media screen and (max-width: 768px) {
    .room-button {
		margin-top: 0px;
		margin-right: 5px;
		font-size: $sizeMedium - 3;
	}

	.auto-en-check {
		margin-top: 12px !important;
	}
}
