body {
  background-color: #FFFCF5; }

.row-normal {
  margin-bottom: 0px;
  padding: 15px 10px 15px 10px; }

.label-xsmall, .alert-small {
  font-size: 14px; }

.label-small {
  font-size: 18px; }

.label-medium {
  font-size: 24px; }

.subtitle {
  font-size: 12px;
  font-color: #d3d3d3; }

.row-submit {
  padding: 5px 0px 5px 0px; }

.check-label {
  margin-left: 15px; }

.auto-check {
  margin-top: 8px !important; }

.en-check {
  margin: 10px 0px 0px 5px !important; }

.schedule-check {
  margin: 8px 0px 0px 2px !important; }

.no-margin {
  margin: 0 0 0 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.content-shade {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff; }

.btn-stop {
  margin-top: 15px; }

.btn-xlg {
  padding: 20px 28px;
  font-size: 24px;
  line-height: 1.5;
  border-radius: 8px;
  width: 80px; }

.slider {
  margin-top: 15px;
  margin-bottom: 15px; }

.slider-auto {
  margin-top: 15px; }

.select-auto {
  margin-top: 15px; }

.curtain-icon, .custom-spacing {
  margin-top: 21px; }

.curtain-name {
  margin-top: 30px; }

.room-title {
  border-bottom: 1px solid #DDD; }

.room-button {
  margin-top: 14px;
  margin-right: 5px;
  font-size: 21px; }

.center-block {
  width: 250px; }

.success {
  background-color: #EBFFE3;
  -webkit-animation: fadein 0.3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.3s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.3s;
  /* Internet Explorer */
  -o-animation: fadein 0.3s;
  /* Opera < 12.1 */
  animation: fadein 0.3s; }

@keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
.rotate-loop {
  -webkit-animation: rotating 2s linear infinite;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: rotating 2s linear infinite;
  /* Firefox < 16 */
  -ms-animation: rotating 2s linear infinite;
  /* Internet Explorer */
  -o-animation: rotating 2s linear infinite;
  /* Opera < 12.1 */
  animation: rotating 2s linear infinite; }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
/* Firefox < 16 */
@-moz-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
/* Internet Explorer */
@-ms-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
/* Opera < 12.1 */
@-o-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }
.account-heading {
  padding: 0px 0px 0px 10px;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.alert-preset {
  margin-left: -15px;
  margin-right: -15px; }

.panel-separate {
  margin-bottom: 10px; }

.row-form-name {
  margin-bottom: 15px; }

#collapseOne > .panel-body, #collapseTwo > .panel-body, #collapseThree > .panel-body {
  padding-top: 0px;
  margin-top: 0px; }

#collapseOne > .panel-body > .panel-default, #collapseTwo > .panel-body > .panel-default, #collapseThree > .panel-body > .panel-default {
  padding-top: 0px;
  margin-top: 0px; }

.default-text-shadow, .panel-title, .new-title {
  text-shadow: 1px 1px 0.1em #505050; }

.panel-title {
  color: #ffffff; }

.panel-info, .panel-separate {
  background-color: #3D96E3; }

.panel-separate {
  color: #ffffff; }

.new-title {
  color: #ffffff; }

.bg-user {
  color: #ffffff;
  background-color: #EDA59D; }

.bg-user:hover, .bg-user:active {
  color: #ffffff;
  background-color: #DB968F; }

.flaticon {
  margin-top: -5px; }

.flaticon-snow42 {
  margin-right: 2px; }

.end-icon {
  margin-top: 4px; }

.rename-light {
  margin-top: 7px; }

.rename-curtain {
  margin-top: 2px; }

.rename-ac {
  margin-top: 6px; }

.rename-room, .badge-spacing {
  margin-top: 18px; }

.rename-success {
  margin-top: 10px; }

.btn-ac {
  margin-top: 8px; }

.name-light, .name-ac {
  padding-top: 5px; }

.auto-custom-row {
  margin-left: 0px; }

.alert-small {
  padding: 8px 8px 8px 8px;
  margin-bottom: 0px !important; }

.badge-steps {
  background-color: #91B2FF;
  color: #ffffff;
  margin-right: 7px;
  padding: 3px 10px 3px 10px;
  display: inline-block;
  transition-timing-function: cubic-bezier(0, 0.7, 0.7, 1);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-animation: animate-badge 0.4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: animate-badge 0.4s;
  /* Firefox < 16 */
  -ms-animation: animate-badge 0.4s;
  /* Internet Explorer */
  -o-animation: animate-badge 0.4s;
  /* Opera < 12.1 */
  animation: animate-badge 0.4s; }

@keyframes animate-badge {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }
/* Firefox < 16 */
@-moz-keyframes animate-badge {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes animate-badge {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }
/* Internet Explorer */
@-ms-keyframes animate-badge {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }
/* Opera < 12.1 */
@-o-keyframes animate-badge {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }
.shake-class {
  transition-timing-function: linear;
  -webkit-animation: shake-it 0.3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: shake-it 0.3s;
  /* Firefox < 16 */
  -ms-animation: shake-it 0.3s;
  /* Internet Explorer */
  -o-animation: shake-it 0.3s;
  /* Opera < 12.1 */
  animation: shake-it 0.3s; }

@keyframes shake-it {
  25% {
    transform: translateX(30px); }
  75% {
    transform: translateX(-60px); }
  100% {
    transform: translateX(30px); } }
/* Firefox < 16 */
@-moz-keyframes shake-it {
  25% {
    transform: translateX(30px); }
  75% {
    transform: translateX(-60px); }
  100% {
    transform: translateX(30px); } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes shake-it {
  25% {
    transform: translateX(30px); }
  75% {
    transform: translateX(-60px); }
  100% {
    transform: translateX(30px); } }
/* Internet Explorer */
@-ms-keyframes shake-it {
  25% {
    transform: translateX(30px); }
  75% {
    transform: translateX(-60px); }
  100% {
    transform: translateX(30px); } }
/* Opera < 12.1 */
@-o-keyframes shake-it {
  25% {
    transform: translateX(30px); }
  75% {
    transform: translateX(-60px); }
  100% {
    transform: translateX(30px); } }
.schedule-readonly {
  background-color: #ffffff !important;
  cursor: pointer !important; }

.schedule-checkbox {
  margin-left: 5px; }

.repeat-active {
  color: #3289ED;
  font-weight: 400;
  text-shadow: 0px 0px 4px #89cff0; }

.repeat-inactive {
  opacity: 0.1;
  font-weight: 400; }

.send-preset {
  cursor: pointer; }

.disabled {
  background-color: #d3d3d3;
  text-decoration: line-through;
  cursor: not-allowed !important; }

a.disabled {
  background-color: inherit; }

h4.login-popover-title {
  margin-bottom: 0px; }

#pin {
  width: 100%; }

#custom-checkbox {
  margin-top: 1px; }

#alert-enable {
  margin-top: 8px; }

#login-info {
  text-decoration: underline;
  cursor: help; }

@media screen and (max-width: 1024px) {
  .room-button {
    margin-top: 0px;
    margin-right: 5px;
    font-size: 21px; }

  .auto-en-check {
    margin-top: 12px !important; } }
@media screen and (max-width: 768px) {
  .room-button {
    margin-top: 0px;
    margin-right: 5px;
    font-size: 21px; }

  .auto-en-check {
    margin-top: 12px !important; } }

/*# sourceMappingURL=custom.css.map */
